body{
background: url(../img/header-bg.png) repeat-x;
}
#wrapper{
    background: url(../img/header.jpg) center center no-repeat;
    height: 190px;
}
#header{   
    height: 190px;
    margin: 0 auto;
}
#header #logo{
    float: left;
    margin-top: 5px;
}
#header #header-top a#login{
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    background-image: none;
    padding-left: 25px;
}
input[type="checkbox"]{
    background: none !important;
    border: none !important;
    margin-right: 5px;
}
.umtop input[type="file"]{
    width: 244px !important;
}
.umtop input[type="text"]{
    width: 231px;
}

